/*
    Esta biblioteca tem a intenção de facilitar o uso do CSS flexbox,
    permitindo a reutiização de suas classes em qualquer parte do código e
    deixando apenas os atributos personlizados de cada elemento para o desenvolvimento
*/


.flex { display: flex; }

.row { flex-direction: row; } /* este é o default do CSS */
.column { flex-direction: column; }
.row-reverse { flex-direction: row-reverse; }
.column-reverse { flex-direction: column-reverse; }

/* Funcionará em todos os dispositivos */
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }

/* Funcionará apenas em pequenos dispositivos */
@media (max-width: 698px) {
    .justify-start-sm { justify-content: flex-start; }
    .justify-center-sm { justify-content: center; }
    .justify-end-sm { justify-content: flex-end; }
    .justify-between-sm { justify-content: space-between; }
    .justify-evenly-sm { justify-content: space-evenly; }
}

/* Funcionará apenas em dispositivos médios */
@media (min-width: 698px) and (max-width: 968px) {
    .justify-start-md { justify-content: flex-start; }
    .justify-center-md { justify-content: center; }
    .justify-end-md { justify-content: flex-end; }
    .justify-between-md { justify-content: space-between; }
    .justify-evenly-md { justify-content: space-evenly; }
}

/* Funcionará apenas em dispositivos médios */
@media (min-width: 968px) {
    .justify-start-lg { justify-content: flex-start; }
    .justify-center-lg { justify-content: center; }
    .justify-end-lg { justify-content: flex-end; }
    .justify-between-lg { justify-content: space-between; }
    .justify-evenly-lg { justify-content: space-evenly; }
}



/* Funcionará em todos os dispositivos */
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.align-between { align-items: space-between; }
.align-evenly { align-items: space-evenly; }

/* Funcionará apenas em pequenos dispositivos */
@media (max-width: 698px) {
    .align-start-sm { align-items: flex-start; }
    .align-center-sm { align-items: center; }
    .align-end-sm { align-items: flex-end; }
    .align-between-sm { align-items: space-between; }
    .align-evenly-sm { align-items: space-evenly; }
}

/* Funcionará apenas em dispositivos médios */
@media (min-width: 698px) and (max-width: 968px) {
    .align-start-md { align-items: flex-start; }
    .align-center-md { align-items: center; }
    .align-end-md { align-items: flex-end; }
    .align-between-md { align-items: space-between; }
    .align-evenly-md { align-items: space-evenly; }
}

/* Funcionará apenas em dispositivos médios */
@media (min-width: 968px) {
    .align-start-lg { align-items: flex-start; }
    .align-center-lg { align-items: center; }
    .align-end-lg { align-items: flex-end; }
    .align-between-lg { align-items: space-between; }
    .align-evenly-lg { align-items: space-evenly; }
}


/* Estas classes terão todas tamanho 100% quando em dispositivos pequenos */
.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

@media (max-width: 698px) {
    div[class^="w-"] {
        width: 100%;
    }

    /* Use estas classes para forçar o tamanho nos dispositivos pequenos */
    .w-100-sm { width: 100%; }
    .w-90-sm { width: 90%; }
    .w-80-sm { width: 80%; }
    .w-70-sm { width: 70%; }
    .w-60-sm { width: 60%; }
    .w-50-sm { width: 50%; }
    .w-40-sm { width: 40%; }
    .w-30-sm { width: 30%; }
    .w-20-sm { width: 20%; }
    .w-10-sm { width: 10%; }
}

@media (min-width: 698px) and (max-width: 968px) {
    /* Use estas classes para forçar o tamanho nos dispositivos médios */
    .w-100-md { width: 100%; }
    .w-90-md { width: 90%; }
    .w-80-md { width: 80%; }
    .w-70-md { width: 70%; }
    .w-60-md { width: 60%; }
    .w-50-md { width: 50%; }
    .w-40-md { width: 40%; }
    .w-30-md { width: 30%; }
    .w-20-md { width: 20%; }
    .w-10-md { width: 10%; }
}

.m-03 { margin-top: .3rem; margin-right: .3rem; margin-bottom: .3rem; margin-left: .3rem; }
.m-05 { margin-top: .5rem; margin-right: .5rem; margin-bottom: .5rem; margin-left: .5rem; }
.m-07 { margin-top: .7rem; margin-right: .7rem; margin-bottom: .7rem; margin-left: .7rem; }
.m-1 { margin-top: 1rem; margin-right: 1rem; margin-bottom: 1rem; margin-left: 1rem; }
.m-2 { margin-top: 2rem; margin-right: 2rem; margin-bottom: 2rem; margin-left: 2rem; }
.m-3 { margin-top: 3rem; margin-right: 3rem; margin-bottom: 3rem; margin-left: 3rem; }
.m-4 { margin-top: 4rem; margin-right: 4rem; margin-bottom: 4rem; margin-left: 4rem; }

.m-hor-03 { margin-top: .3rem; margin-right: 0rem; margin-bottom: .3rem; margin-left: 0rem; }
.m-hor-05 { margin-top: .5rem; margin-right: 0rem; margin-bottom: .5rem; margin-left: 0rem; }
.m-hor-07 { margin-top: .7rem; margin-right: 0rem; margin-bottom: .7rem; margin-left: 0rem; }
.m-hor-1 { margin-top: 1rem; margin-right: 0rem; margin-bottom: 1rem; margin-left: 0rem; }
.m-hor-2 { margin-top: 2rem; margin-right: 0rem; margin-bottom: 2rem; margin-left: 0rem; }
.m-hor-3 { margin-top: 3rem; margin-right: 0rem; margin-bottom: 3rem; margin-left: 0rem; }
.m-hor-4 { margin-top: 4rem; margin-right: 0rem; margin-bottom: 4rem; margin-left: 0rem; }

.m-hor-03 { margin-top: 0rem; margin-right: .3rem; margin-bottom: 0rem; margin-left: .3rem; }
.m-hor-05 { margin-top: 0rem; margin-right: .5rem; margin-bottom: 0rem; margin-left: .5rem; }
.m-hor-07 { margin-top: 0rem; margin-right: .7rem; margin-bottom: 0rem; margin-left: .7rem; }
.m-hor-1 { margin-top: 0rem; margin-right: 1rem; margin-bottom: 0rem; margin-left: 1rem; }
.m-hor-2 { margin-top: 0rem; margin-right: 2rem; margin-bottom: 0rem; margin-left: 2rem; }
.m-hor-3 { margin-top: 0rem; margin-right: 3rem; margin-bottom: 0rem; margin-left: 3rem; }
.m-hor-4 { margin-top: 0rem; margin-right: 4rem; margin-bottom: 0rem; margin-left: 4rem; }

@media (max-width: 698px) {
    .m-03-sm { margin-top: .3rem; margin-right: .3rem; margin-bottom: .3rem; margin-left: .3rem; }
    .m-05-sm { margin-top: .5rem; margin-right: .5rem; margin-bottom: .5rem; margin-left: .5rem; }
    .m-07-sm { margin-top: .7rem; margin-right: .7rem; margin-bottom: .7rem; margin-left: .7rem; }
    .m-1-sm { margin-top: 1rem; margin-right: 1rem; margin-bottom: 1rem; margin-left: 1rem; }
    .m-2-sm { margin-top: 2rem; margin-right: 2rem; margin-bottom: 2rem; margin-left: 2rem; }
    .m-3-sm { margin-top: 3rem; margin-right: 3rem; margin-bottom: 3rem; margin-left: 3rem; }
    .m-4-sm { margin-top: 4rem; margin-right: 4rem; margin-bottom: 4rem; margin-left: 4rem; }

    .m-hor-03-sm { margin-top: .3rem; margin-right: 0rem; margin-bottom: .3rem; margin-left: 0rem; }
    .m-hor-05-sm { margin-top: .5rem; margin-right: 0rem; margin-bottom: .5rem; margin-left: 0rem; }
    .m-hor-07-sm { margin-top: .7rem; margin-right: 0rem; margin-bottom: .7rem; margin-left: 0rem; }
    .m-hor-1-sm { margin-top: 1rem; margin-right: 0rem; margin-bottom: 1rem; margin-left: 0rem; }
    .m-hor-2-sm { margin-top: 2rem; margin-right: 0rem; margin-bottom: 2rem; margin-left: 0rem; }
    .m-hor-3-sm { margin-top: 3rem; margin-right: 0rem; margin-bottom: 3rem; margin-left: 0rem; }
    .m-hor-4-sm { margin-top: 4rem; margin-right: 0rem; margin-bottom: 4rem; margin-left: 0rem; }

    .m-hor-03-sm { margin-top: 0rem; margin-right: .3rem; margin-bottom: 0rem; margin-left: .3rem; }
    .m-hor-05-sm { margin-top: 0rem; margin-right: .5rem; margin-bottom: 0rem; margin-left: .5rem; }
    .m-hor-07-sm { margin-top: 0rem; margin-right: .7rem; margin-bottom: 0rem; margin-left: .7rem; }
    .m-hor-1-sm { margin-top: 0rem; margin-right: 1rem; margin-bottom: 0rem; margin-left: 1rem; }
    .m-hor-2-sm { margin-top: 0rem; margin-right: 2rem; margin-bottom: 0rem; margin-left: 2rem; }
    .m-hor-3-sm { margin-top: 0rem; margin-right: 3rem; margin-bottom: 0rem; margin-left: 3rem; }
    .m-hor-4-sm { margin-top: 0rem; margin-right: 4rem; margin-bottom: 0rem; margin-left: 4rem; }
}

@media (min-width: 698px) and (max-width: 968px) {
    .m-03-md { margin-top: .3rem; margin-right: .3rem; margin-bottom: .3rem; margin-left: .3rem; }
    .m-05-md { margin-top: .5rem; margin-right: .5rem; margin-bottom: .5rem; margin-left: .5rem; }
    .m-07-md { margin-top: .7rem; margin-right: .7rem; margin-bottom: .7rem; margin-left: .7rem; }
    .m-1-md { margin-top: 1rem; margin-right: 1rem; margin-bottom: 1rem; margin-left: 1rem; }
    .m-2-md { margin-top: 2rem; margin-right: 2rem; margin-bottom: 2rem; margin-left: 2rem; }
    .m-3-md { margin-top: 3rem; margin-right: 3rem; margin-bottom: 3rem; margin-left: 3rem; }
    .m-4-md { margin-top: 4rem; margin-right: 4rem; margin-bottom: 4rem; margin-left: 4rem; }

    .m-hor-03-md { margin-top: .3rem; margin-right: 0rem; margin-bottom: .3rem; margin-left: 0rem; }
    .m-hor-05-md { margin-top: .5rem; margin-right: 0rem; margin-bottom: .5rem; margin-left: 0rem; }
    .m-hor-07-md { margin-top: .7rem; margin-right: 0rem; margin-bottom: .7rem; margin-left: 0rem; }
    .m-hor-1-md { margin-top: 1rem; margin-right: 0rem; margin-bottom: 1rem; margin-left: 0rem; }
    .m-hor-2-md { margin-top: 2rem; margin-right: 0rem; margin-bottom: 2rem; margin-left: 0rem; }
    .m-hor-3-md { margin-top: 3rem; margin-right: 0rem; margin-bottom: 3rem; margin-left: 0rem; }
    .m-hor-4-md { margin-top: 4rem; margin-right: 0rem; margin-bottom: 4rem; margin-left: 0rem; }

    .m-hor-03-md { margin-top: 0rem; margin-right: .3rem; margin-bottom: 0rem; margin-left: .3rem; }
    .m-hor-05-md { margin-top: 0rem; margin-right: .5rem; margin-bottom: 0rem; margin-left: .5rem; }
    .m-hor-07-md { margin-top: 0rem; margin-right: .7rem; margin-bottom: 0rem; margin-left: .7rem; }
    .m-hor-1-md { margin-top: 0rem; margin-right: 1rem; margin-bottom: 0rem; margin-left: 1rem; }
    .m-hor-2-md { margin-top: 0rem; margin-right: 2rem; margin-bottom: 0rem; margin-left: 2rem; }
    .m-hor-3-md { margin-top: 0rem; margin-right: 3rem; margin-bottom: 0rem; margin-left: 3rem; }
    .m-hor-4-md { margin-top: 0rem; margin-right: 4rem; margin-bottom: 0rem; margin-left: 4rem; }
}